* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 100vh;
  width: 100vw;
  position: relative;
}
/* IMAGE BOX*/
.img-wrapper {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

img {
  width: 100vw;
  height: 80%;
}

/* IMAGE TEXT */
p span {
  font-family: "Oswald", sans-serif;
  position: absolute;
  top: 100px;
  left: -600px;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 42px;
  text-align: center;
  padding: 10px;
  filter: drop-shadow(5px, 5px, 5px, black);
}

.active {
  transform: translateX(600px);
  transition: all 1s ease-in-out 0.3s;
}

/*BUTTON SELECTOR*/
.buttons span {
  border: 1px solid rgb(252, 252, 252);
  background-color: rgb(255, 221, 70);
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
  transition: all 0.4s ease-in;
}

.buttons span:hover {
  cursor: pointer;
  transform: scale(1.2, 1.2);
}

.buttons {
  position: absolute;
  top: 550px;
  left: 50%;
  transform: translateX(-50%);
}

/*ARROW SELECTOR*/
button {
  padding: 10px 12px;
  border-radius: 50px;
  cursor: pointer;
  background-color: rgb(243, 196, 66);
  transition: all 0.3s ease-in;
  outline: none;
}

button:hover {
  background-color: rgb(255, 253, 110, 0.5);
}

#left {
  position: absolute;
  top: 50%;
  left: 50px;
}

#right {
  position: absolute;
  top: 50%;
  right: 50px;
  cursor: pointer;
}

/*
Percentage vs Viewport Units
Since viewport units are a percentage of the size of the viewport, 
it can seem at first glance that specifying sizes as percentage 
values would be equivalent. The difference is that viewport units 
are always a percentage of the total size of the viewport, 
while a percentage value applied on an element is a percentage of 
the element’s parent, not necessarily the whole viewport.
*/
